footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.keyboard-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #d3d6da;
  font-size: 25px;
  font-weight: bold;
}
.keyboard-block_wide {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #d3d6da;
  font-size: 25px;
  font-weight: bold;
}
.keyboard-block_wide img {
  width: 40px;
  height: 40px;
}
